body {
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
div.container {
    display: grid;
}
.hero-section {
    background-image: url(fashion.jpg);
    height: 30em;    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

div.hero-texts {
    justify-items: center;
    font-size: xx-large;
}
.hero-head {
    color: #f63434;
}
.hero-paragraph {
    color: #fa3c3c;
    text-align: center;
    font-weight: bold;
}
.hero-button {
    background-color: #fff;
    padding: 10px;
    border: 2px solid #fa3c3c;
}
a {
    text-decoration: none;
    color: #fa3c3c;
    font-size: medium;
}
.flex-item {
    flex: 30%;
    justify-items: center;
    text-align: center;
    padding: 10px;
}
@media (max-width: 800px){
    .flex-container {
        flex-direction: column;
    }    
}
.footer {
    background-color: #000;
    justify-items: center;
}
.contact {
    color: #fff;
}